<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2</key>
	<dict>
		<key>filter</key>
		<array>
			<dict>
				<key>f</key>
				<string>type</string>
				<key>firstSectionRow</key>
				<integer>0</integer>
				<key>n</key>
				<string>竞赛类型</string>
				<key>s</key>
				<string>true</string>
				<key>sd</key>
				<string></string>
				<key>t</key>
				<string>normal</string>
				<key>u</key>
				<string></string>
				<key>v</key>
				<string>-1</string>
				<key>vs</key>
				<array>
					<dict>
						<key>n</key>
						<string>全部</string>
						<key>v</key>
						<string>-1</string>
					</dict>
					<dict>
						<key>n</key>
						<string>程序设计</string>
						<key>v</key>
						<string>2</string>
					</dict>
					<dict>
						<key>n</key>
						<string>数学建模</string>
						<key>v</key>
						<string>1</string>
					</dict>
					<dict>
						<key>n</key>
						<string>机器人</string>
						<key>v</key>
						<string>4</string>
					</dict>
					<dict>
						<key>n</key>
						<string>电子&amp;自动化</string>
						<key>v</key>
						<string>5</string>
					</dict>
					<dict>
						<key>n</key>
						<string>计算机&amp;信息技术</string>
						<key>v</key>
						<string>6</string>
					</dict>
					<dict>
						<key>n</key>
						<string>挑战杯（学术</string>
						<key>v</key>
						<string>7</string>
					</dict>
					<dict>
						<key>n</key>
						<string>挑战杯（创业）</string>
						<key>v</key>
						<string>8</string>
					</dict>
					<dict>
						<key>n</key>
						<string>工程机械</string>
						<key>v</key>
						<string>9</string>
					</dict>
					<dict>
						<key>n</key>
						<string>土木建筑</string>
						<key>v</key>
						<string>10</string>
					</dict>
					<dict>
						<key>n</key>
						<string>交通车辆</string>
						<key>v</key>
						<string>11</string>
					</dict>
					<dict>
						<key>n</key>
						<string>航空航天</string>
						<key>v</key>
						<string>12</string>
					</dict>
					<dict>
						<key>n</key>
						<string>船舶海洋</string>
						<key>v</key>
						<string>13</string>
					</dict>
					<dict>
						<key>n</key>
						<string>材料高分子</string>
						<key>v</key>
						<string>14</string>
					</dict>
					<dict>
						<key>n</key>
						<string>环境能源</string>
						<key>v</key>
						<string>15</string>
					</dict>
					<dict>
						<key>n</key>
						<string>数学</string>
						<key>v</key>
						<string>16</string>
					</dict>
					<dict>
						<key>n</key>
						<string>物理</string>
						<key>v</key>
						<string>17</string>
					</dict>
					<dict>
						<key>n</key>
						<string>化学化工</string>
						<key>v</key>
						<string>18</string>
					</dict>
					<dict>
						<key>n</key>
						<string>外语</string>
						<key>v</key>
						<string>19</string>
					</dict>
					<dict>
						<key>n</key>
						<string>UI设计</string>
						<key>v</key>
						<string>20</string>
					</dict>
					<dict>
						<key>n</key>
						<string>创意设计</string>
						<key>v</key>
						<string>21</string>
					</dict>
					<dict>
						<key>n</key>
						<string>服装设计</string>
						<key>v</key>
						<string>22</string>
					</dict>
					<dict>
						<key>n</key>
						<string>模特</string>
						<key>v</key>
						<string>23</string>
					</dict>
					<dict>
						<key>n</key>
						<string>演讲主持&amp;辩论</string>
						<key>v</key>
						<string>24</string>
					</dict>
					<dict>
						<key>n</key>
						<string>歌舞书画&amp;摄影</string>
						<key>v</key>
						<string>25</string>
					</dict>
					<dict>
						<key>n</key>
						<string>创业</string>
						<key>v</key>
						<string>3</string>
					</dict>
					<dict>
						<key>n</key>
						<string>商业</string>
						<key>v</key>
						<string>26</string>
					</dict>
					<dict>
						<key>n</key>
						<string>环保公益实践</string>
						<key>v</key>
						<string>27</string>
					</dict>
					<dict>
						<key>n</key>
						<string>职业技能</string>
						<key>v</key>
						<string>28</string>
					</dict>
					<dict>
						<key>n</key>
						<string>社会综合</string>
						<key>v</key>
						<string>29</string>
					</dict>
					<dict>
						<key>n</key>
						<string>医学</string>
						<key>v</key>
						<string>30</string>
					</dict>
					<dict>
						<key>n</key>
						<string>电子竞技</string>
						<key>v</key>
						<string>31</string>
					</dict>
					<dict>
						<key>n</key>
						<string>体育</string>
						<key>v</key>
						<string>32</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>f</key>
				<string>leve</string>
				<key>firstSectionRow</key>
				<integer>0</integer>
				<key>n</key>
				<string>竞赛级别</string>
				<key>s</key>
				<string>1</string>
				<key>t</key>
				<string>normal</string>
				<key>v</key>
				<string>-1</string>
				<key>vs</key>
				<array>
					<dict>
						<key>n</key>
						<string>全部</string>
						<key>v</key>
						<string>-1</string>
					</dict>
					<dict>
						<key>n</key>
						<string>校级</string>
						<key>v</key>
						<string>1</string>
					</dict>
					<dict>
						<key>n</key>
						<string>市级</string>
						<key>v</key>
						<string>2</string>
					</dict>
					<dict>
						<key>n</key>
						<string>省级</string>
						<key>v</key>
						<string>3</string>
					</dict>
					<dict>
						<key>n</key>
						<string>全国级</string>
						<key>v</key>
						<string>4</string>
					</dict>
					<dict>
						<key>n</key>
						<string>国际级</string>
						<key>v</key>
						<string>5</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>f</key>
				<string>time</string>
				<key>firstSectionRow</key>
				<integer>0</integer>
				<key>n</key>
				<string>竞赛时间</string>
				<key>s</key>
				<string>1</string>
				<key>t</key>
				<string>normal</string>
				<key>v</key>
				<string>-1</string>
				<key>vs</key>
				<array>
					<dict>
						<key>n</key>
						<string>全部</string>
						<key>v</key>
						<string>-1</string>
					</dict>
					<dict>
						<key>n</key>
						<string>即将报名</string>
						<key>v</key>
						<string>1</string>
					</dict>
					<dict>
						<key>n</key>
						<string>报名进行中</string>
						<key>v</key>
						<string>2</string>
					</dict>
					<dict>
						<key>n</key>
						<string>竞赛进行中</string>
						<key>v</key>
						<string>3</string>
					</dict>
					<dict>
						<key>n</key>
						<string>已结束</string>
						<key>v</key>
						<string>4</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>version</key>
		<string>3.2147483647.2.2.20130326152434</string>
	</dict>
</dict>
</plist>
