<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dataParams</key>
		<dict>
			<key>bgClickColor</key>
			<string>476fe3</string>
			<key>bgNormalColor</key>
			<string>4877ff</string>
			<key>categoryId</key>
			<string>2</string>
		</dict>
		<key>id</key>
		<string>0.1.1</string>
		<key>imgUrl</key>
		<string>http://m.ganjistatic1.com/1a25ace60b5346b81ba62039e15b05ec/iPhone/2x/shouye1_icon_quanzhizhaopin@2x.png</string>
		<key>jumpType</key>
		<string>1</string>
		<key>title</key>
		<string>全职工作</string>
	</dict>
	<dict>
		<key>dataParams</key>
		<dict>
			<key>bgClickColor</key>
			<string>30ace0</string>
			<key>bgNormalColor</key>
			<string>2bdffc</string>
			<key>categoryId</key>
			<string>3</string>
		</dict>
		<key>id</key>
		<string>0.1.2</string>
		<key>imgUrl</key>
		<string>http://m.ganjistatic1.com/1a25ace60b5346b81ba62039e15b05ec/iPhone/2x/shouye1_icon_jianzhi@2x.png</string>
		<key>jumpType</key>
		<string>1</string>
		<key>title</key>
		<string>兼职工作</string>
	</dict>
	<dict>
		<key>dataParams</key>
		<dict>
			<key>bgClickColor</key>
			<string>8370e2</string>
			<key>bgNormalColor</key>
			<string>8f79ff</string>
			<key>categoryId</key>
			<string>5</string>
			<key>virtualId</key>
			<string>1</string>
		</dict>
		<key>id</key>
		<string>0.1.3</string>
		<key>imgUrl</key>
		<string>http://m.ganjistatic1.com/1a25ace60b5346b81ba62039e15b05ec/iPhone/2x/shouye1_icon_jiazheng@2x.png</string>
		<key>jumpType</key>
		<string>1</string>
		<key>title</key>
		<string>生活家政</string>
	</dict>
	<dict>
		<key>dataParams</key>
		<dict>
			<key>bgClickColor</key>
			<string>25b462</string>
			<key>bgNormalColor</key>
			<string>20c968</string>
			<key>categoryId</key>
			<string>7</string>
		</dict>
		<key>id</key>
		<string>0.1.4</string>
		<key>imgUrl</key>
		<string>http://m.ganjistatic1.com/1a25ace60b5346b81ba62039e15b05ec/iPhone/2x/shouye1_icon_fangchan@2x.png</string>
		<key>jumpType</key>
		<string>1</string>
		<key>title</key>
		<string>房产</string>
	</dict>
	<dict>
		<key>dataParams</key>
		<dict>
			<key>bgClickColor</key>
			<string>d9af09</string>
			<key>bgNormalColor</key>
			<string>f4c300</string>
			<key>categoryId</key>
			<string>6</string>
		</dict>
		<key>id</key>
		<string>0.1.5</string>
		<key>imgUrl</key>
		<string>http://m.ganjistatic1.com/1a25ace60b5346b81ba62039e15b05ec/iPhone/2x/shouye1_icon_ershouche@2x.png</string>
		<key>jumpType</key>
		<string>1</string>
		<key>title</key>
		<string>二手车</string>
	</dict>
	<dict>
		<key>dataParams</key>
		<dict>
			<key>bgClickColor</key>
			<string>d45831</string>
			<key>bgNormalColor</key>
			<string>ee5c2e</string>
			<key>categoryId</key>
			<string>14</string>
		</dict>
		<key>id</key>
		<string>0.1.6</string>
		<key>imgUrl</key>
		<string>http://m.ganjistatic1.com/1a25ace60b5346b81ba62039e15b05ec/iPhone/2x/shouye1_icon_ershouwupin@2x.png</string>
		<key>jumpType</key>
		<string>1</string>
		<key>title</key>
		<string>二手物品</string>
	</dict>
</array>
</plist>
